---
import '../styles/global.css';
const { lang, title, description } = Astro.props;
const base = import.meta.env.BASE_URL;
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" href={`${base}assets/favicon/favicon.ico`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="profile" />
  </head>
  <body>
    <slot />
  </body>
</html>
